*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    backdrop-filter: blur(20px);
}
header .logo{
      position: relative;
      color: white;
      text-decoration: none;
      font-weight: 700;
      font-size: 2em;
}
header ul{
    position: relative;
    display: flex;
    gap :40px;

}
header ul li{
    list-style: none;
}
header ul li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.25em;
}
header ul li.active a,
header ul li:hover a{
    color: #18e933;
}

#home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: rgb(83, 81, 81);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
}
#home::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50vw;
    height: 25vw;
    background: #18e933;
    border-top-right-radius: 25vw;
    border-top-left-radius: 25vw;
}
#home .content{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 650px;
    z-index: 10;
}
#home .content h2{
    position: relative;
    font-size: 5em;
    color: rgb(19, 255, 78);
}
#home .content p{
    position: relative;
    color: white;
    font-size: 1.2em;
    line-height: 1.6m;
}
.btn{
    position: relative;
    display: inline-block;
    font-size: 1.25em;
    max-width: 200px;
    background:#18e933;
    color: black;
    text-align: center;
    padding: 18px 30px;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-decoration: none;
    margin-top: 10px;

}
#home .men{
    position: absolute;
    bottom: 0;
    right: 100px;
    max-height: 80vh;
}
#me{
  height: 70%;width: 25%;
    
}
#services,
#portfolio,
#contact{
    position: relative;
    background: rgb(83, 81, 81);
    min-height: 100vh;
    padding: 120px 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.secText{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.secText h2{
    font-size: 3em;
    color: white;
}
.secText p{
    max-width: 700px;
    text-align: center;
    color: #aaa;
    font-size: 1.1em;
    line-height: 1.5em;
    
}
#services .content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    margin: 40px 0;
    border-radius: 10px;
   


}
/* .imgBx {
    border-radius: 40px; 
} */
#services .content .servicesBx{
    background: rgb(51, 49, 49);
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    border: 2px solid black;
    
}
#services .content .servicesBx:hover{
    border: 2px solid rgb(54, 230, 30);

}
#services .content .servicesBx img{
    max-width: 100px;
    /* filter: invert(1); */
    opacity: 0.5;
    transition: 0.5s;
}
#services .content .servicesBx:hover img{
    opacity: 1;
}
#services .content .servicesBx h3{
    color: white;
    font-weight: 500;
    color: rgb(28, 231, 28);
}
.center{
    width: 100%;
    text-align: center;
}
#portfolio{
    background: rgb(63, 60, 60);
    text-align: center;

}
#portfolio .content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    margin: 40px;

}

#portfolio .content .imgBx{
    position: relative;
}
#portfolio .content .imgBx img{
    max-width: 100%;
}
#contact .content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    margin: 40px 0;
}
#contact .content a{
    background: rgb(46, 44, 44);
    height: 120px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    font-size: 1.2em;
    color: white;
    transition: 0.5s;
}
#contact .content a:hover,
#contact .content a:hover ion-icon{
    background: rgb(65, 250, 65);
    color: black;
}
#contact .content a ion-icon{
    color: rgb(27, 235, 27);
    font-size: 1.5em;
    margin-right: 10px;
    transition: 0.5s;
}
.copyrights{
    margin-top: 150px;
    position: relative;
    color: white;
    font-size: 1.2em;
}
.copyrights a{
    color: rgb(38, 241, 38);
}
/* now, move it responsive */
@media (max-width:900px) {
    header{
        padding: 20px 50px;
    }
    #home{
        padding: 150px 50px;
        flex-direction: column;
        padding-bottom: 0;
    }
    #home .content h2{
        font-size: 4em;

    }
    .btn{
        max-width: 160px;
        padding: 10px 20px;
    }
    #home .men{
        position: absolute;
        height: 50vh;
        right: 0;

    }
    .secText h2{
        font-size:2em;
    text-align: center;
    }
   #services, #portfolio, #contact{
    padding: 100px 50px 50px;

   }
   #services .content,
   #portfolio .content,
   #contact .content{
    grid-template-columns: repeat(2,1fr);
   }   
.menuToggle{
    position: relative;
    width: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
   }
   .menuToggle::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: white;
    transform: translateY(-10px);
    transition: 0.5s;
    box-shadow: 0 10px #fff;
   }
   .menuToggle::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: white;
    transform: translateY(10px);
    transition: 0.5s;
   }
   header .active .menuToggle::before{
    transform: translateY(0px) rotate(45deg);
    box-shadow: 0 0 white;
   }

   header .active .menuToggle::after{
    transform: translateY(0px) rotate(315deg);
    box-shadow: 0 0 white;
   }
   header ul{
    display: none;
   }

   header.active ul{
    position: fixed;
    width: 100%;
    left: 0;
    height: calc(100vh - 84px);
    background: rgba(50,50,50, 0, 0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10000;
gap: 20px;
   }
   header.active ul li a{
    font-size: 2rem;
   }
}
@media (max-width: 700px) {
    #home .content h2{
        font-size: 3em;

    }
    #home ::before{
      
        width: 80vw;
        height: 40vw;
        border-top-left-radius: 80vw;
        border-top-right-radius: 80vw;

    }
    #home .men{
        height: 50vw;
    }
    #services .content,
    #portfolio .content,
    #contact .content{
     grid-template-columns: repeat(1,1fr);
    } 
    #contact .content a{
        height: 100px;
    }
}

/* for icon */
.servicesBx{
    text-align: center;
}
.img{
    margin: 0,auto;
    text-align: center;
}

/* .imgBx{
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
} */
/* .imgBx .forContents h3{
    
    text-align: center;
    color: rgb(255, 0, 0);
    margin: auto,0;
    position: relative;
} */
/* .imgBx{
    position: relative;
  text-align: center;
}
.forContents{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

/* .imgBx{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 20px;
    
  } */
/* .imgBx{
    border: 3px solid white;
    background-color: white;
    justify-content: center;
    display: flex;
    align-items: center;
    height: auto;
} */
.forContents span{
    /* padding: 1% 5%;
    color: grey;
    width: 100%;
    height: auto; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(67, 67, 74, 0.282);
    padding: 20px,10px;
    width: 300px;
    height: 150px;
    border-radius: 10px;
    cursor: pointer;
  }

  /* .center{
    position: relative;
    margin:0,auto;
  } */
  @media (min-width: 700px) {
    .men{
        width: 10%;
        height: 40%;
    }
  }